name: Sprayer

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Start Local Proxy Service (Docker Compose)
        # O Docker e o Docker Compose já vêm pré-instalados nos runners do GitHub,
        # então removemos todos os comandos de 'sudo apt install'.
        # Usamos a flag -d (--detach) para rodar o serviço em background.
        run: git clone https://github.com/mandatoryprogrammer/thermoptic; cd thermoptic
        run: |
          docker compose up --build -d
          # Opcional: dê um pequeno tempo para o proxy iniciar
          echo "Waiting for proxy service to start..."
          sleep 15

      # O proxy estará disponível em 127.0.0.1 (ou localhost) na porta definida no seu docker-compose.yml.
      - name: Run Sprayer Script using Local Proxy
        run: python sprayer.py
        env:
          # Variáveis para o Sprayer: O Sprayer (sprayer.py) deve ser codificado para
          # ler e usar essas variáveis de ambiente para rotear o tráfego de saída.
          HTTP_PROXY: http://changeme:changeme@127.0.0.1:1234
          USERNAMES: ${{ secrets.USERNAMES }}
          PASSWORD: ${{ secrets.PASSWORD }}
          CATCHERURL: ${{ secrets.CATCHERURL }}
          CATCHERTLS: ${{ secrets.CATCHERTLS }}
